@using System.Globalization
@using Abp.Configuration
@using Abp.Web.Security.AntiForgery
@using Abp.Configuration.Startup
@using Satrabel.OpenApp
@using Satrabel.OpenApp.SignalR
@using Satrabel.OpenApp.Web.Resources
@using Satrabel.OpenApp.Web.Views.Shared.Components.TopBarArea
@using Satrabel.OpenApp.Web.Views.Shared.Components.SideBarNav
@using Satrabel.OpenApp.Web.Views.Shared.Components.SideBarUserArea
@using Satrabel.OpenApp.Web.Views.Shared.Components.AccountLanguages
@using Satrabel.OpenApp.Web.Views.Shared.Components.TopBarLanguageSwitch
@using Satrabel.OpenApp.Configuration
@using Satrabel.OpenApp.Web.Views.Shared.Components.RightSideBar
@using Satrabel.OpenApp.Startup
@inject Satrabel.OpenApp.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IWebConfig WebConfig

@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="@(WebConfig.MetaDescription)" content="OpenApp">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>@WebConfig.MetaTitle</title>
    <environment names="Development">
        <link href="~/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
@*
    <!-- BODY options, add following classes to body to change options

    // Header options
    1. '.header-fixed'					- Fixed Header

    // Sidebar options
    1. '.sidebar-fixed'					- Fixed Sidebar
    2. '.sidebar-hidden'				- Hidden Sidebar
    3. '.sidebar-off-canvas'		- Off Canvas Sidebar
    4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
    5. '.sidebar-compact'			  - Compact Sidebar

    // Aside options
    1. '.aside-menu-fixed'			- Fixed Aside Menu
    2. '.aside-menu-hidden'			- Hidden Aside Menu
    3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

    // Breadcrumb options
    1. '.breadcrumb-fixed'			- Fixed Breadcrumb

    // Footer options
    1. '.footer-fixed'					- Fixed footer

    -->
*@
<body class="app @WebConfig.BodyClass">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">☰</button>
@*
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/Crud#app/user">Users</a>
        </li>
    </ul>
*@

        <ul class="nav navbar-nav ml-auto">
           
            @await Component.InvokeAsync(typeof(TopBarAreaViewComponent))
            @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
            @await Component.InvokeAsync(typeof(AccountLanguagesViewComponent))
          

            @*
                <li class="nav-item d-md-down-none">
                    <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
                </li>
                <li class="nav-item d-md-down-none">
                    <a class="nav-link" href="#"><i class="icon-list"></i></a>
                </li>
                <li class="nav-item d-md-down-none">
                    <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
                </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                            <span class="d-md-down-none">admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header text-center">
                                <strong>Account</strong>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>
                            <div class="dropdown-header text-center">
                                <strong>Settings</strong>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                            <div class="divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i class="fa fa-lock"></i> Logout</a>
                        </div>
                    </li>
            *@
        </ul>
        &nbsp; &nbsp;
        @*
            <button class="navbar-toggler aside-menu-toggler" type="button">☰</button>
        *@
    </header>
    <div class="app-body">

        @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })

        <!-- Main content -->
        <main class="main">
            @RenderBody()
            
        </main>
        @*
            <aside class="aside-menu">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icon-speech"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="timeline" role="tabpanel">
                        <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                            <small>
                                <b>Today</b>
                            </small>
                        </div>
                        <hr class="transparent mx-3 my-0">
                        <div class="callout callout-warning m-0 py-3">
                            <div class="avatar float-right">
                                <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                            </div>
                            <div>
                                Meeting with
                                <strong>Lucas</strong>
                            </div>
                            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
                            <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
                        </div>
                        <hr class="mx-3 my-0">
                        <div class="callout callout-info m-0 py-3">
                            <div class="avatar float-right">
                                <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                            </div>
                            <div>
                                Skype with
                                <strong>Megan</strong>
                            </div>
                            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 5pm</small>
                            <small class="text-muted"><i class="icon-social-skype"></i>&nbsp; On-line</small>
                        </div>
                        <hr class="transparent mx-3 my-0">
                        <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                            <small>
                                <b>Tomorrow</b>
                            </small>
                        </div>
                        <hr class="transparent mx-3 my-0">
                        <div class="callout callout-danger m-0 py-3">
                            <div>
                                New UI Project -
                                <strong>deadline</strong>
                            </div>
                            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
                            <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
                            <div class="avatars-stack mt-2">
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                            </div>
                        </div>
                        <hr class="mx-3 my-0">
                        <div class="callout callout-success m-0 py-3">
                            <div>
                                <strong>#10 Startups.Garden</strong>Meetup
                            </div>
                            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
                            <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
                        </div>
                        <hr class="mx-3 my-0">
                        <div class="callout callout-primary m-0 py-3">
                            <div>
                                <strong>Team meeting</strong>
                            </div>
                            <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
                            <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
                            <div class="avatars-stack mt-2">
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                                <div class="avatar avatar-xs">
                                    <img src="img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                </div>
                            </div>
                        </div>
                        <hr class="mx-3 my-0">
                    </div>
                    <div class="tab-pane p-3" id="messages" role="tabpanel">
                        <div class="message">
                            <div class="py-3 pb-5 mr-3 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">Lukasz Holeczek</small>
                                <small class="text-muted float-right mt-1">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                        </div>
                        <hr>
                        <div class="message">
                            <div class="py-3 pb-5 mr-3 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">Lukasz Holeczek</small>
                                <small class="text-muted float-right mt-1">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                        </div>
                        <hr>
                        <div class="message">
                            <div class="py-3 pb-5 mr-3 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">Lukasz Holeczek</small>
                                <small class="text-muted float-right mt-1">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                        </div>
                        <hr>
                        <div class="message">
                            <div class="py-3 pb-5 mr-3 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">Lukasz Holeczek</small>
                                <small class="text-muted float-right mt-1">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                        </div>
                        <hr>
                        <div class="message">
                            <div class="py-3 pb-5 mr-3 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">Lukasz Holeczek</small>
                                <small class="text-muted float-right mt-1">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                        </div>
                    </div>
                    <div class="tab-pane p-3" id="settings" role="tabpanel">
                        <h6>Settings</h6>
                        <div class="aside-options">
                            <div class="clearfix mt-4">
                                <small>
                                    <b>Option 1</b>
                                </small>
                                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div>
                                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                            </div>
                        </div>
                        <div class="aside-options">
                            <div class="clearfix mt-3">
                                <small>
                                    <b>Option 2</b>
                                </small>
                                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div>
                                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                            </div>
                        </div>
                        <div class="aside-options">
                            <div class="clearfix mt-3">
                                <small>
                                    <b>Option 3</b>
                                </small>
                                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                        <div class="aside-options">
                            <div class="clearfix mt-3">
                                <small>
                                    <b>Option 4</b>
                                </small>
                                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                                    <input type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                        <hr>
                        <h6>System Utilization</h6>
                        <div class="text-uppercase mb-1 mt-4">
                            <small>
                                <b>CPU Usage</b>
                            </small>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">348 Processes. 1/4 Cores.</small>
                        <div class="text-uppercase mb-1 mt-2">
                            <small>
                                <b>Memory Usage</b>
                            </small>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">11444GB/16384MB</small>
                        <div class="text-uppercase mb-1 mt-2">
                            <small>
                                <b>SSD 1 Usage</b>
                            </small>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">243GB/256GB</small>
                        <div class="text-uppercase mb-1 mt-2">
                            <small>
                                <b>SSD 2 Usage</b>
                            </small>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small class="text-muted">25GB/256GB</small>
                    </div>
                </div>
            </aside>
        *@
    </div>
    <footer class="app-footer">
        <a href="@WebConfig.FooterLinkUrl">@WebConfig.FooterLinkText</a> © @DateTime.Now.Year @WebConfig.FooterCopyright
    </footer>

    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    <environment names="Development">
        <script src="~/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
        @if (SignalRFeature.IsAvailable)
        {
            <script src="~/lib/signalr/jquery.signalR.js" asp-append-version="true"></script>
        }
    </environment>
    <environment names="Staging,Production">
        <script src="~/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>
    <script>
    //Localizing momentjs
    moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpServiceProxies/GetAll?type=json&v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    @if (SignalRFeature.IsAvailable)
    {
        <!-- SignalR scripts -->
        <script src="~/signalr/hubs"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr.js" type="text/javascript"></script>
    }
    @WebResourceManager.RenderScripts()
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
