@using System.Globalization
@using Abp.Web.Security.AntiForgery
@using Abp.Configuration.Startup
@using Satrabel.OpenApp
@using Satrabel.OpenApp.Web.Resources
@inject Satrabel.OpenApp.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="~/Views/img/favicon.png">
    <title>Login</title>

    <environment names="Development">
        
        <link href="~/Views/_Bundles/account-layout.min.css" rel="stylesheet" asp-append-version="true" />

    </environment>
    <environment names="Staging,Production">
        <link href="~/Views/_Bundles/account-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>


</head>
<body class="app flex-row align-items-center">
    <div class="container">
        @RenderBody()
    </div>
    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->

    <environment names="Development">
        <script src="~/Views/_Bundles/account-layout.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Views/_Bundles/account-layout.min.js" asp-append-version="true"></script>
    </environment>
    <script>
    //Localizing momentjs
    moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    
    @WebResourceManager.RenderScripts();

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)


</body>
</html>
