@using Abp.Authorization.Users
@model Satrabel.OpenApp.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.DisableTopBar = true;
}
@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@*
    @section Scripts{
        <environment names="Development">
            <script src="~/Views/Account/Register.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
            <script src="~/Views/Account/Register.min.js" asp-append-version="true"></script>
        </environment>
    }
*@
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mx-4">
            <div class="card-body p-4">
                <form id="ResetPasswordForm" asp-action="ResetPassword" method="post">
                    <input type="hidden" name="Code" value="@Model.Code" />
                    <h1>@L("ResetPassword")</h1>
                    <p class="text-muted">@L("ResetPassword")</p>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (@ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                        </div>
                    }
                    <div class="input-group mb-3">
                        <span class="input-group-addon">@@</span>
                        <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength" placeholder="@L("EmailAddress")">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-addon">
                            <i class="icon-lock"></i>
                        </span>
                        <input type="password" class="form-control" name="Password" required maxlength="@AbpUserBase.MaxPlainPasswordLength" placeholder="@L("Password")">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button id="ResetPasswordButton" class="btn btn-block btn-primary px-4" type="submit">@L("Send")</button>
                        </div>
                        <div class="col-6">
                            <a asp-action="Login" class="btn btn-block px-0">@L("Back")</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
